In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
hum = pd.read_csv("humidity_df.csv").drop(columns=['Unnamed: 0'])
temp = pd.read_csv("temp_df.csv").drop(columns=['Unnamed: 0'])
press = pd.read_csv("pressure_df.csv").drop(columns=['Unnamed: 0'])
motion = pd.read_csv("motion_df.csv").drop(columns=['Unnamed: 0'])
light = pd.read_csv("light_df.csv").drop(columns=['Unnamed: 0'])

In [3]:
data = [hum, temp, press, motion, light]
for i in data:
    print(i.columns, i.shape)

Index(['day', 'hour', 'month', 'weekday', 'avg_hrly_hum'], dtype='object') (722, 5)
Index(['month', 'day', 'hour', 'weekday', 'avg_hrly_temp'], dtype='object') (722, 5)
Index(['month', 'day', 'hour', 'weekday', 'avg_hrly_press'], dtype='object') (722, 5)
Index(['month', 'day', 'hour', 'weekday', 'tot_motion_count'], dtype='object') (668, 5)
Index(['month', 'day', 'hour', 'weekday', 'avg_hrly_light'], dtype='object') (703, 5)

In [6]:
df1 = hum.merge(temp, left_on=['day', 'hour', 'month','weekday'], right_on=['day', 'hour', 'month','weekday'])
df2 = df1.merge(press, left_on=['day', 'hour', 'month','weekday'], right_on=['day', 'hour', 'month','weekday'])
df3 = df2.merge(motion, left_on=['day', 'hour', 'month','weekday'], right_on=['day', 'hour', 'month','weekday'])
df4 = df3.merge(light, left_on=['day', 'hour', 'month','weekday'], right_on=['day', 'hour', 'month','weekday'])

In [8]:
df4.to_csv("all_sensor_data.csv")

In [7]:
df4

,day,hour,month,weekday,avg_hrly_hum,avg_hrly_temp,avg_hrly_press,tot_motion_count,avg_hrly_light
0,23,8,10,2,51.35,22.80,100858.130,0.0,4095.00
1,29,22,10,1,54.20,20.50,102802.440,57.0,2155.50
2,29,23,10,1,62.25,19.80,102801.110,26.0,3780.75
3,30,0,10,2,65.15,20.15,102810.425,0.0,4095.00
4,30,1,10,2,62.20,20.40,102802.390,0.0,4095.00
...,...,...,...,...,...,...,...,...,...
661,30,11,11,5,16.00,13.25,101510.700,0.0,4095.00
662,30,12,11,5,16.25,13.30,101430.335,0.0,4095.00
663,30,13,11,5,16.10,13.30,101379.285,0.0,4095.00
664,30,14,11,5,16.10,13.40,101376.980,0.0,4095.00
665,30,15,11,5,16.10,13.55,101374.000,0.0,4095.00